{{ .includes.header_start}}
    <title>
        {{ .page.title }} | 七牛云存储
    </title>
{{ .includes.header}}

    <div class="container brand">
        <div class="brand-cell brand">
            <h2 class="brand-head">一、我们的标识</h2>
            <div class="brand-body">
                <p>为获得最佳推广效果，强烈建议直接使用各Logo图片链接。</p>
                <div class="brand-content  logo">
                    <div class="brand-title">标识</div>
                    <a href="http://assets.qiniu.com/qiniu-409x220.png" class="copy-button-1" target="_blank">
                        <img src="http://assets.qiniu.com/qiniu-409x220.png" alt="">
                    </a>
                    <div class="brand-link">
                        <button data-clipboard-text="http://assets.qiniu.com/qiniu-409x220.png" class="copy-button" target="_blank">使用409x220px</button>
                        <button data-clipboard-text="http://assets.qiniu.com/qiniu-204x109.png" class="copy-button" target="_blank">使用204x109px</button>
                        <button data-clipboard-text="http://assets.qiniu.com/qiniu-122x65.png" class="copy-button" target="_blank">使用122x65px</button>
                    </div>
                </div>
                <div class="brand-content cn">
                    <div class="brand-title">图形标识+中文</div>
                    <a href="http://assets.qiniu.com/qiniu-620x205.png" class="copy-button" target="_blank">
                        <img src="http://assets.qiniu.com/qiniu-620x205.png" alt="">
                    </a>
                    <div class="brand-link">
                        <button data-clipboard-text="http://assets.qiniu.com/qiniu-620x205.png" class="copy-button" target="_blank">使用620x205px</button>
                        <button data-clipboard-text="http://assets.qiniu.com/qiniu-312x104.png" class="copy-button" target="_blank">使用312x104px</button>
                        <button data-clipboard-text="http://assets.qiniu.com/qiniu-180x60.png" class="copy-button" target="_blank">使用180x60px</button>
                    </div>
                </div>
                <div class="brand-content en pull-left">
                    <div class="brand-title">图形标识+英文</div>
                    <a href="http://assets.qiniu.com/qiniu-410x180.png" class="copy-button" target="_blank">
                        <img src="http://assets.qiniu.com/qiniu-410x180.png" alt="">
                    </a>
                    <div class="brand-link">
                        <button data-clipboard-text="http://assets.qiniu.com/qiniu-410x180.png" class="copy-button" target="_blank">使用410x180px</button>
                        <button data-clipboard-text="http://assets.qiniu.com/qiniu-205x89.png" class="copy-button" target="_blank">使用205x89px</button>
                        <button data-clipboard-text="http://assets.qiniu.com/qiniu-125x55.png" class="copy-button" target="_blank">使用122x55px</button>
                    </div>
                </div>
                <div class="brand-content pic pull-left">
                    <div class="brand-title">图形标识</div>
                    <a href="http://assets.qiniu.com/qiniu-185x135.png" class="copy-button" target="_blank">
                        <img src="http://assets.qiniu.com/qiniu-185x135.png" alt="">
                    </a>
                    <div class="brand-link">
                        <button data-clipboard-text="http://assets.qiniu.com/qiniu-185x135.png" class="copy-button" target="_blank">使用185x135px</button>
                        <button data-clipboard-text="http://assets.qiniu.com/qiniu-93x68.png" class="copy-button" target="_blank">使用93x68px</button>
                        <button data-clipboard-text="http://assets.qiniu.com/qiniu-55x41.png" class="copy-button" target="_blank">使用55x41px</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="brand-cell color">
            <h2 class="brand-head">二、颜色</h2>
            <div class="brand-body">
                <div class="brand-content pull-left">
                    <div class="brand-title">
                        <a href="http://assets.qiniu.com/qiniu-white-195x105.png" class="copy-button" target="_blank">
                            <img src="http://assets.qiniu.com/qiniu-white-195x105.png" alt="">
                        </a>
                    </div>
                    <div class="brand-link">
                        <button data-clipboard-text="http://assets.qiniu.com/qiniu-white-195x105.png" class="copy-button" target="_blank" data-clipboard-text="使用195x105px">使用195x105px</button>
                    </div>
                    <div class="brand-link">
                        <button data-clipboard-text="http://assets.qiniu.com/qiniu-white-97x51.png" class="copy-button" target="_blank">使用97x51px</button>
                    </div>
                </div>
                <div class="brand-content pull-left">
                    <div class="brand-title blue">
                        <a href="http://assets.qiniu.com/qiniu-blue-195x105.png" class="copy-button" target="_blank">
                            <img src="http://assets.qiniu.com/qiniu-blue-195x105.png" alt="">
                        </a>
                    </div>
                    <div class="brand-link">
                        <button data-clipboard-text="http://assets.qiniu.com/qiniu-blue-195x105.png" class="copy-button" target="_blank">使用195x105px</button>
                    </div>
                    <div class="brand-link">
                        <button data-clipboard-text="http://assets.qiniu.com/qiniu-blue-97x51.png" class="copy-button" target="_blank">使用97x51px</button>
                    </div>
                </div>
                <div class="brand-content pull-left">
                    <div class="brand-title  black">
                        <a href="http://assets.qiniu.com/qiniu-black-195x105.png" class="copy-button" target="_blank">
                            <img src="http://assets.qiniu.com/qiniu-black-195x105.png" alt="">
                        </a>
                    </div>
                    <div class="brand-link">
                        <button data-clipboard-text="http://assets.qiniu.com/qiniu-black-195x105.png" class="copy-button" target="_blank">使用195x105px</button>
                    </div>
                    <div class="brand-link">
                        <button data-clipboard-text="http://assets.qiniu.com/qiniu-black-97x51.png" class="copy-button" target="_blank">使用97x51px</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="brand-cell powered">
            <h2 class="brand-head">三、Powered by Qiniu</h2>
            <div class="brand-body">
                <div class="brand-content pull-left odd">
                    <div class="brand-title">透明背景</div>
                    <div class="brand-link">
                        <a href="http://assets.qiniu.com/qiniu-transparent.png" class="copy-button" target="_blank">
                            <img src="http://assets.qiniu.com/qiniu-transparent.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="brand-content pull-left">
                    <div class="brand-title">白色背景</div>
                    <div class="brand-link">
                        <a href="http://assets.qiniu.com/qiniu-white.png" class="copy-button" target="_blank">
                            <img src="http://assets.qiniu.com/qiniu-white.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="brand-content pull-left odd">
                    <div class="brand-title">标准色反色背景</div>
                    <div class="brand-link blue">
                        <a href="http://assets.qiniu.com/qiniu-blue.png" class="copy-button" target="_blank">
                            <img src="http://assets.qiniu.com/qiniu-blue.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="brand-content pull-left ">
                    <div class="brand-title">黑色或深色背景</div>
                    <div class="brand-link black">
                        <a href="http://assets.qiniu.com/qiniu-black.png" class="copy-button" target="_blank">
                            <img src="http://assets.qiniu.com/qiniu-black.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script type="text/javascript" src="/static/add-on/zeroclipboard/ZeroClipboard.js"></script>
    <script>

    </script>

    {{.includes.search_result}}
    {{.includes.footer}}
